<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css"/>
    <title>VueTodo</title>
</head>
<body>
   <div id="app">
    <h1 id="head" >Vue Todo</h1>
     <v-view v-bind:todo="viewer"></v-view>
     <v-edit v-bind:todo="editor" v-bind:reff="todos"></v-edit>
      <div class="todo-cont">
        <div class="todo-list" >
          <v-todo v-for="(item,id) in todos" v-bind:todo.sync="item" v-bind:key="id" v-bind:func="show" v-bind:edit="editing"></v-todo>
           
        </div>
      	
      	<div class="todo-entry">
      	  <input type="text" v-model="todo" placeholder="text here..." >
      	  <button v-on:click="addTodo()"><i class="fa fa-plus-circle"></i></button>
      	</div>
      </div>
      
   </div> 
</body>
<script src="vue.min.js" type="text/javascript" charset="utf-8"></script>
<script src="main.js" type="text/javascript" charset="utf-8"></script>
</html>